{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div>
    <h1>Bienvenido a la mejor página que verás en tu vida :D</h1>
    <p>
        Esta es la página de inicio

    <div>
        <h3>Que puede evaluar?</h3>
        <ul>
            <li>Explorar las vistas creadas de la primera aplicación.</li>
            <li>Revisar las funcionalidades de la segunda aplicación.</li>
            <li>Navegar fácilmente usando el menú superior.</li>
        </ul>
    </div>
</div>
{% endblock %}